WCFclient/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50762/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TFGService" />
  <xs:element name="TryAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TFGService" minOccurs="0" name="value" nillable="true" type="q1:Access" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryAccessResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InfoTimeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>