WCFclient/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TFGService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TFGService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Access">
    <xs:sequence>
      <xs:element minOccurs="0" name="Button" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Access" nillable="true" type="tns:Access" />
</xs:schema>